################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IMS_Api/FileContentIndex/887a119c-eeff-4157-885b-f97a4d231202.vsidx
/.vs/IMS_Api/FileContentIndex/f203f4bd-cecd-4212-a410-f9d0b8d4b7b8.vsidx
/.vs/IMS_Api/FileContentIndex
/.vs/IMS_Api/v17/DocumentLayout.json
